{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
    {% if app.user %}
        <h2> Votre panier {{ app.user.prenom }} {{ app.user.nom }}</h2>
    {% else %}
        <h2>Votre panier</h2>
    {% endif %}
    {% if totalArticles > 0 %}
        {% if totalConsole > 0 %}
            <h3 class="ml-3 mt-3">Consoles dans le panier</h3>
            <div class="container">
                <div class="col cart-consoles mb-4">
                    {% for console in consoles %}
                        <div class=" md-12 mb-2">
                            <span>{{ console.nom }}</span>
                            <span>Prix à l'unité : {{ console.prix }}€</span>
                            <span>Quantité : {{ consolesQuantity[console.id] }}</span>
                            <a href="{{ path('console_panier_add', {'id': console.id}) }}">
                                <img class="cart-icon" src="{{ asset('images/plus.png') }}" alt="Ajouter"/>
                            </a>
                            <a href="{{ path('console_panier_delete', {'id': console.id}) }}">
                                <img class="cart-icon" src="{{ asset('images/moins.png') }}" alt="Supprimer"/>
                            </a>
                        </div>
                    {% endfor %}
                    <span>Nombre de consoles dans le panier : {{ totalConsole }}</span>
                    <span>Prix : {{ totalPrixConsole }}</span>
                </div>
            </div>
        {% endif %}
        {% if totalJeux > 0 %}
            <h3 class="ml-3">Jeux dans le panier</h3>
            <div class="container">
                <div class="col cart-games">
                    {% for jeu in jeux %}
                        <div class=" md-12 mb-2">
                            <span>{{ jeu.nom }}</span>
                            <span>Prix à l'unité : {{ jeu.prix }}€</span>
                            <span>Quantité : {{ jeuxQuantity[jeu.id] }}</span>
                            <a href="{{ path('jeux_panier_add', {'id': jeu.id}) }}">
                                <img class="cart-icon" src="{{ asset('images/plus.png') }}" alt="Ajouter"/>
                            </a>
                            <a href="{{ path('jeux_panier_delete', {'id': jeu.id}) }}">
                                <img class="cart-icon" src="{{ asset('images/moins.png') }}" alt="Supprimer"/>
                            </a>
                        </div>
                    {% endfor %}
                    <span>Nombre de jeux dans le panier : {{ totalJeux }}</span>
                    <span>Prix : {{ totalPrixJeux }}€</span>
                </div>
            </div>
        {% endif %}
        <p class="mt-3">Nombre total d'articles dans le panier : {{ totalArticles }}</pclas>
        <p>Coût total du panier : {{ totalPrix }}€</p>

        {% if app.user %}
            <a class="cart-valid" href="{{ path('panier_step_one') }}">Valider le panier</a>
        {% else %}
            <span>
                <a href="{{ path('login') }}">Connectez-vous</a>
                 ou
                <a href="{{ path('register') }}">créez un compte</a>
                 pour pouvoir valider votre panier.
            </span>
        {% endif %}

    {% else %}
        <h1>Votre panier est vide !</h1>
    {% endif %}
    </div>
{% endblock body %}
