{% extends 'base.html.twig' %}

{% block title %}Editer {{ jeux.nom }}{% endblock %}

{% block body %}
    <h1>Editer {{ jeux.nom }}</h1>

    <div class="container">
        {{ include('jeux/_form.html.twig', {'button_label': 'Mettre à jour le jeu' }) }}

        <a href="{{ path('jeux_index') }}">Retourner à la liste des jeux</a>

        {{ include('jeux/_delete_form.html.twig') }}
    </div>
{% endblock %}
