{% extends 'base.html.twig' %}

{% block title %}{{ jeux.nom }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ jeux.nom }}</h1>

    {% if ajout %}
        <h5 class="ml-3">L'article a bien été ajouté au panier</h5>
    {% endif %}

    <div class="mb-4">
        {% if getLength(jeux.media) > 0 %}
            <img class="visuel_central" src="{{ jeux.media[0] }}" alt="{{ jeux.nom }}"/>
        {% endif %}
        <div class="ml-4">
            <a class="addToCart" href="{{ path('jeux_panier', {'id': jeux.id}) }}">Ajouter au panier</a>
        </div>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeux.nom }}</td>
            </tr>
            <tr>
                <th>Console</th>
                <td>
                    {% for key, console in jeux.console %}
                        {% if key > 0 %}
                        ,
                        {% endif %}
                        {{ console.nom }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ jeux.marque }}</td>
            </tr>
            <tr>
                <th>Age recommandé</th>
                <td>{{ jeux.ageMini }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeux.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ jeux.prix }}€</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ jeux.dateSortie ? jeux.dateSortie|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jeux_index') }}">Liste des jeux</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">Editer le jeu</a>

        {{ include('jeux/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
