{% extends 'base.html.twig' %}

{% block title %}Editer {{ console_modele.console }} {{ console_modele.nom }}{% endblock %}

{% block body %}
    <h1>Editer {{ console_modele.console }} {{ console_modele.nom }}</h1>

    <div class="container">
        {{ include('console_modele/_form.html.twig', {'button_label': 'Modifer le modèle de console'}) }}

        <a href="{{ path('console_modele_index') }}">Retourner à la liste des modèles de console</a>

        {{ include('console_modele/_delete_form.html.twig') }}
    </div>
{% endblock %}
