{% extends 'base.html.twig' %}

{% block title %}Nos consoles{% endblock %}

{% block body %}
    <h1>Nos consoles</h1>

    <a href="{{ path('console_modele_new') }}">Ajouter un modèle de console</a>

    <div class="container">
        <div class="row">
            {% for console_modele in console_modeles %}
                <div class="col-4  mb-2 jeux-liste">
                    <a href="{{ path('console_modele_show', {id: console_modele.id}) }}">
                        <p>{{ console_modele.console }} {{ console_modele.nom }}</p>
                        {% if getLength(console_modele.media) > 0 %}
                            <img class="jaquette_liste" src="{{ console_modele.media[0] }}" alt="Jaquette {{ console_modele.nom }}">
                        {% else %}
                            <span>Pas de visuel disponible</span>
                        {% endif %}
                        <p>{{ console_modele.prix }}€<p>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('jeux_edit', {id: jeu.id}) }}">Editer</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
