{% extends 'base.html.twig' %}

{% block title %}ConsoleModele{% endblock %}

{% block body %}
    <h1>ConsoleModele</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ console_modele.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ console_modele.prix }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ console_modele.nom }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ console_modele.dateSortie ? console_modele.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('console_modele_index') }}">back to list</a>

    <a href="{{ path('console_modele_edit', {'id': console_modele.id}) }}">edit</a>

    {{ include('console_modele/_delete_form.html.twig') }}
{% endblock %}
