{% extends 'base.html.twig' %}

{% block title %}Editer {{ marque.nom }}{% endblock %}

{% block body %}
    <h1>Editer {{ marque.nom }}</h1>

    <div class="container">
        {{ include('marque/_form.html.twig', {'button_label': 'Mettre à jour la marque'}) }}

        <a href="{{ path('marque_index') }}">Retourner à la liste des marques</a>

        {{ include('marque/_delete_form.html.twig') }}
    </div>
{% endblock %}
