{% extends 'base.html.twig' %}

{% block title %}Nos marques{% endblock %}

{% block body %}
    <h1>Nos marques</h1>

    <h5 class="marque-undertext">Cliquez sur une marque pour découvrir tout son univers !</h5>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="ml-2 admin-link" href="{{ path('marque_new') }}">Ajouter une nouvelle marque</a>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for marque in marques %}
                <div class="col-4  mb-2 jeux-liste">
                    <a href="{{ path('marque_show', {'id': marque.id}) }}">
                        {% if getLength(marque.media) > 0 %}
                            <img class="marque_liste" src="{{ marque.media[0] }}" alt="{{ marque.nom }}">
                        {% else %}
                            {{ marque.nom }}
                        {% endif %}
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="admin-link" href="{{ path('marque_edit', {id: marque.id}) }}">Editer</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
