{% extends 'base.html.twig' %}

{% block title %}Consoles{% endblock %}

{% block body %}
    <h1>Consoles</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="ml-2 admin-link" href="{{ path('console_new') }}">Ajouter une console</a>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for console in consoles %}
                <div class="col-4  mb-2 jeux-liste">
                    <a href="{{ path('console_show', {id: console.id}) }}">
                        <p>{{ console.nom }}</p>
                        {% if getLength(console.media) > 0 %}
                            <img class="console_liste" src="{{ console.media[0] }}" alt="Console {{ console.nom }}">
                        {% else %}
                            <span>Pas de visuel disponible</span>
                        {% endif %}
                        <p>{{ console.marque }}<p>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="admin-link" href="{{ path('console_edit', {id: console.id}) }}">Editer</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
