{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
    <h1>Console</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ console.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ console.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('console_index') }}">back to list</a>

    <a href="{{ path('console_edit', {'id': console.id}) }}">edit</a>

    {{ include('console/_delete_form.html.twig') }}
{% endblock %}
