{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ console.nom }}</h1>

    <div class="mb-4">
        {% if getLength(console.media) > 0 %}
            <img class="console_visuel_central" src="{{ console.media[0] }}" alt="{{ console.nom }}"/>
        {% endif %}
    </div>


    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ console.nom }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ console.marque }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('console_index') }}">Liste des consoles</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="admin-link" href="{{ path('console_edit', {'id': console.id}) }}">Editer la console</a>

        <div class="mt-4 mb-2">
            {{ include('console/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
