{% extends 'base.html.twig' %}

{% block title %}Profil {% if app.user %} - {{ app.user.username }} {% endif %}{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Profil</h1>
        <p>Nom : {{ app.user.username }}</p>
        <p>Adresse mail : {{ app.user.email }}</p>
    {% else %}
        <h1>Merci de vous <a href="{{ path('login') }}">connecter</a> ou de vous <a href="{{ path('register') }}">inscrire !</a></h1>
    {% endif %}
{% endblock body %}